@import url('https://api.fontshare.com/v2/css?f[]=chillax@600,500,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff8f2;
}

.clip-custom {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  